@charset "utf-8";

/* CSS Document */
@font-face {
	font-family: '圓體';
	src: url(./jf-openhuninn-2.0.ttf);
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
}

body {
	background-color: black;
	color: white;
	font-family: '圓體',
		'Madefor',
		'Helvetica Neue',
		'Helvetica',
		'Arial',
		'メイリオ',
		'meiryo',
		'ヒラギノ角ゴ pro w3',
		'hiragino kaku gothic pro',
		'sans-serif';
}

.container-fluid {
	background-color: black;
}

header {
	width: 100%;
	height: 100px;
	line-height: 100px;
	display: flex;
	padding-right: 50px;
	padding-left: 50px;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	/* background-color: aqua; */
	background-color: rgb(39, 65, 0);
}

header ul {}

header h1 {
	line-height: 100px;
}

header li {
	float: left;
	list-style: none;
	margin-right: 30px;
}

header li a {
	text-align: center;
	text-decoration: none;
	color: white;
	/* font-family:'圓體'; */
}

header li a :visited {
	color: none;
}

.banner {
	height: 800px;
	width: 100%;
	margin-top: 100px;
	/* padding-top: 80px; */
	padding-left: 50px;
	display: flex;
	/* position: relative; */
	background-color: rgb(39, 65, 0);
	justify-content: space-between;
}

.banner ul {
	margin: 0;
	padding: 0;
	line-height: 800px;
}

.banner ul .a {
	font-size: 80px;
}

.banner ul .b {
	font-size: 30px;
	margin-top: 30px;
}

.banner ul li {
	list-style: none;
}

.banner video {
	/* margin-right: 50px; */
	/* position: absolute;
	top: 0;
	right: 0; */
}