@font-face {
    font-family: '圓體';
    src: url(./jf-openhuninn-2.0.ttf);
}

.text-center {
    background-color: blueviolet;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: '圓體';
}

.titele {
    text-align: center;
    background-color: aquamarine;
}

.titele-row {
    text-align: center;
    background-color: aquamarine;
}

.main {
    text-align: center;
    height: 900px;
}

.main-row {
    height: 900px;
}

.container {
    background-color: aqua;
    height: 1000px;
}

.container-lg {
    background-color: black;
    width: 100%;
}

body {
    background-color: aquamarine;
}