<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='js/bootstrap.bundle.js') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    {% block nav %}
    <header>
        <h1>Anime</h1>
        <ul>
            <li><a href="">呈現1</a></li>
            <li><a href="">呈現2</a></li>
            <li><a href="">呈現3</a></li>
            <li><a href="">呈現4</a></li>
            <li><a href="">呈現5</a></li>
        </ul>
    </header>
    {% endblock %}
    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static',filename='js/bootstrap.bundle.js') }}">
    </script>
</body>

</html>