<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='js/bootstrap.bundle.js') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">
    <title>{% block title %}anime Awards{% endblock %}</title>
    {% endblock %}
</head>

<body>
    {% block nav %}
    <nav class="top">
        <h1>anime Awards</h1>
        <ul>
            <li><a href="">2020年</a></li>
            <li><a href="">2021年</a></li>
            <li><a href="">2022年</a></li>
            <li><a href="">2023年</a></li>
        </ul>
    </nav>
    {% endblock %}
    {% block header %}
    <header>
        <h1>Genre Awards</h1>
    </header>
    {% endblock %}
    {% block content %}
    <div class="container">
        <section class="tag">
            <h2>Action</h2>
            <p class="jujutsu"> <img src="{{url_for('static', filename='images/呪術.png')}}" alt=""></p>
            <h5>Nominees</h5>
            <div class="action">
                <div class="card">
                    <div class="itemsize">
                        <div class="itemimage" style="background-image: url(../static/images/呪術.png)"></div>
                        <div class="imagetitle"><span>咒術迴戰</span></div>
                    </div>
                </div>
                <div class="card">
                    <div class="itemsize">
                        <div class="itemimage" style="background-image: url(../static/images/呪術.png)"></div>
                        <div class="imagetitle"><span>咒術迴戰</span></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}

    <script src="{{ url_for('static',filename='js/bootstrap.bundle.js') }}">
    </script>
</body>

</html>