{% extends "base.html" %}
{% block title %}Click-through rate{% endblock %}
{% block head %}
{{ super() }}
<style>
    @media (min-width: 576px) {}


    @media (min-width: 768px) {}


    @media (min-width: 992px) {}


    @media (min-width: 1200px) {}


    @media (min-width: 1400px) {}
</style>
{% endblock %}
{% block content %}
<section class="banner">
    <ul>
        <li class="a">Click-through rate</li>
        <li class="b">資料範圍：2021年～2023年</li>
    </ul>
    <video autoplay loop muted src="{{ url_for('static',filename='video/葬送のフリーレンPV第2弾.mp4') }}"></video>
</section>
{% endblock %}
