{% extends "base.html" %}
{% block title %}Click-through rate{% endblock %}
{% block head %}
{{ super() }}
<style>
    @media (min-width: 576px) {}


    @media (min-width: 768px) {}


    @media (min-width: 992px) {}


    @media (min-width: 1200px) {}


    @media (min-width: 1400px) {}
</style>
{% endblock %}
{% block content %}
<section class="banner">
    <h1>Click-through rate</h1>
    <p>資料範圍：2021年～2023年</p>
</section>
{% endblock %}
{% block video %}
<section class="video-bg">
    <video autoplay loop muted src="../Flask網頁/TVアニメ『葬送のフリーレン』PV第2弾／毎週金曜よる11時放送 (1080p).mp4 (1080p).mp4"></video>
    <ul>
        <li><a href="https://ani.gamer.com.tw/animeVideo.php?sn=35241">葬送的芙莉蓮</a></li>
    </ul>
</section>
{% endblock %}